    <!-- container for all the recipe notes -->
    <div class="notes-container col-4">
      <% if current_user.bookmarks.pluck(:recipe_id).include?(recipe.id) %>
        <!-- they can view their notes -->
        <h3>My recipe notes</h3>
        <hr>
        <ul>
          <% recipe.notes.each do |note| %>
          <li>
            <i class="fas fa-cheese"></i> &nbsp;
            <%= note.description %> &nbsp;
            <%= link_to note_path(note), method: :delete,  data: { confirm: 'Are you sure?' } do %>
              <i class="fas fa-trash"></i>
            <% end %>
          </li>
        <% end %>
        </ul>
        <!-- they can add/delete notes -->
        <%= simple_form_for [bookmark, note], method: :post, remote: true do |f| %>
          <%= f.input :description, label: false, input_html: { class: 'note_description' } %>
          <%= f.button :submit, "+ add note",  class: 'gray-button'%>
        <% end %>
      <% end %>
    </div>
  </div>
