<!-- this partial displays all the reviews for one recipe -->
  <div class="col-11" id="reviews">
    <h3>Reviews</h3>
    <hr>
    <!-- need to remove this if a review exists -->
    <% unless @recipe.reviews.pluck(:user_id).include?(current_user.id) %>
      <%= simple_form_for [recipe, review], method: :post, url: recipe_reviews_path(recipe), remote: true,   html: { class: 'review_form'} do |f| %>
        <%= f.input :description, label: false, placeholder: 'Leave a review', input_html: { class: 'review_description' } %>
        <%= f.input :rating, collection: (1..5).to_a, label: "Rate the recipe" %>
        <!-- hidden button - still need it though for accessibility -->
        <%= f.submit 'Save', class: "d-none", style: "display:none" %>
      <% end %>
    <% end %>
    <% @recipe.reviews.each do |review| %>
      <div class="review">
          <div class="review-details">
            <%= render "./shared/rating", rating: review.rating %>
            <%= review.created_at.strftime("%c") %>
          </div>
          <p> <%= review.description %></p>
          <div class="black-btn"><%= link_to review.user.username, user_path(review.user) %></div>
          <% if current_user == review.user %>
            <%= link_to review_path(review.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "black-btn" do %>
              <i id= "delete-review" class="fas fa-trash"></i>
            <% end %>
          <% end %>
      </div>
    <% end %>
  </div>
