<!-- this partial displays all the reviews for one recipe -->
  <div class="col-11">
    <h3>Reviews</h3>
    <hr>
    <!-- need to remove this if a review exists -->
    <% unless recipe.reviews.pluck(:user_id).include?(current_user.id) %>
      <%= simple_form_for [recipe, review], method: :post, url: recipe_reviews_path(recipe) do |f| %>
        <%= f.input :description, label: false, placeholder: 'Leave a review' %>
        <%= f.input :rating, label: false, placeholder: 'Rating /5'%>
        <%= f.submit 'Save', class: "back-button-review" %>
      <% end %>
    <% end %>
    <% recipe.reviews.each do |review| %>
      <div class="review">
          <div class="review-details">
            <%= render "./shared/rating", rating: review.rating %>
            <%= review.created_at.strftime("%c") %>
          </div>
          <p> <%= review.description %></p>
          <%= link_to review.user.username, user_path(review.user)  %><br>
          <% if current_user == review.user %>
            <%= link_to review_path(review.id), method: :delete, data: { confirm: 'Are you sure?' } do %>
              <i id= "delete-review" class="fas fa-trash"></i>
            <% end %>
          <% end %>
      </div>
    <% end %>
  </div>
