<div class="container">
<div class="show-container">
  <h2><%=@recipe.name%></h2>
  <div class="recipe-overview-container">
    <div class="ingredients-container col-7">
      <div class="recipe-stats-actions">
        <%= render "./shared/rating", rating: @average_rating %>
      </div>

      <div class="recipe-info-bar">
        <h4>Ingredients</h4>
        <div class="recipe-info-icons">
          <div class="cook-time">
            <i class="fas fa-clock"></i> <%= @recipe.cook_time %> mins
          </div>
          <div class="serves">
            <i class="fas fa-user-friends"></i> <%= @recipe.serves %>
          </div>
        </div>

      </div>
      <hr>
       <ul>
        <% @recipe.ingredients.each do |ingredient| %>
          <li><%= ingredient.quantity %> <%= ingredient.food.name %></li>
        <% end %>
      </ul>
    </div>
    <div class="recipe-photo-container">
      <%= render "./shared/cookbook_button", recipe: @recipe %>
      <%=cl_image_tag @recipe.photo.key, class: "recipe-photo", crop: :fill  %>

    </div>

  </div>
  <!-- METHOD -->
  <div class="recipe-method-container">
    <div class="recipe-method col-7">
      <h3>Method</h3>
      <hr>
      <p><%=@recipe.instructions%></p>
    </div>
    <!-- NOTES -->
    <%= render "notes", recipe: @recipe, bookmark: @bookmark, note: @note %>
  </div>
  <div class="user-images-container">
    <%= render "user_images", recipe: @recipe %>
  </div>
  <div class="reviews-container">
    <%= render "reviews", recipe: @recipe, review: @review %>
  </div>
  <div class="recipe-actions">
    <%= render "./shared/dishlist_button", recipe: @recipe %>
    <%= link_to icon('far', 'trash-alt ', 'Delete'), recipe_path(@recipe.id), method: :delete, data: { confirm: 'Are you sure?' } %>
    <%= link_to 'More Recipes', recipes_path, class: "button" %>
  </div>


  <ul class="links-to">
      <br>
      <li><%= link_to 'Delete Recipe', recipe_path(@recipe.id), class: "show-button", method: :delete, data: { confirm: 'Are you sure?' } %></li>
      <br>
      <li><%= link_to 'More Recipes', recipes_path, class: "show-button" %></li>
      <br>
      <li><%= link_to 'Back', recipes_path, class: "show-button" %></li>
   </ul>

</div>
</div>
