<div class="show-container">
  <h2><%=@recipe.name%></h2>
  <div class="recipe-stats-actions">
    <%= render "./shared/rating", rating: @average_rating %>
    <%= link_to 'Add to cookbook', recipe_bookmarks_path(@recipe), method: :post, class: 'button' %></li>
    <%= link_to 'Add to wishlist', wishlist_path(@recipe.id), class: "button" %>
  </div>
  <div class="recipe-overview-container">
    <div class="ingredients-container">
      <div class="recipe-info-bar">
        <h4>Ingredients</h4>
      </div>
       <ul>
        <% @recipe.ingredients.each do |ingredient| %>
          <li><%= ingredient.quantity %> <%= ingredient.food.name %></li>
        <% end %>
      </ul>
    </div>
    <%=cl_image_tag @recipe.photo.key, class: "recipe-photo", crop: :fill  %>
  </div>
  <!-- METHOD -->
  <div class="recipe-method-container">
    <div class="recipe-method col-9">
      <h3>Method</h3>
      <p><%=@recipe.instructions%></p>
    </div>
    <!-- NOTES -->
    <%= render "notes", recipe: @recipe, bookmark: @bookmark, note: @note %>
  </div>
  <div class="non-recipe-container">
    <!-- USER IMAGES -->
    <%= render "user_images", recipe: @recipe %>
    <hr>
    <!-- REVIEWS -->
    <%= render "reviews", recipe: @recipe %>
    <!-- user actions -->
    <hr>
    <ul>
      <li><%= link_to 'Delete Recipe', recipe_path(@recipe.id), method: :delete, data: { confirm: 'Are you sure?' } %></li>
      <li><%= link_to 'More Recipes', recipes_path, class: "button" %></li>
      <li><%= link_to 'Back', recipes_path, class: "button" %></li>
    </ul>
  </div>
</div>
