<div class="show-container">
  <!-- flex box containing the main recipe card and the notes container -->
  <div class="main-recipe-container">
    <div class="recipe-container">
      <div class="recipe-overview-container padding">
        <%=cl_image_tag @recipe.photo.key, class: 'recipe-photo', crop: :fill %>
        <h2><%=@recipe.name%></h2>
        <%= render "./shared/rating", rating: @average_rating %>
        <!-- flexbox containing  -->
        <div class="recipe-details-container">
          <div>
            <h4>Details</h4>
            <ul>
              <li>Serves: <%=@recipe.serves%></li>
              <li>Cook time: <%=@recipe.cook_time%></li>
              <li>Meal type: <%=@recipe.meal%></li>
              <li>Cuisine: <%=@recipe.cuisine%></li>
            </ul>
          </div>
          <div class="ingredients-container">
            <h4>Ingredients</h4>
            <ul>
              <% @recipe.ingredients.each do |ingredient| %>
                <li><%= ingredient.quantity %> <%= ingredient.food.name %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <div class="recipe-description-container padding">
        <h3>Method</h3>
        <p><%=@recipe.instructions%></p>
      </div>
    </div>
    <!-- NOTES -->
    <%= render "notes", recipe: @recipe, bookmark: @bookmark, note: @note %>
  </div>
  <div class="non-recipe-container padding">
    <!-- all the sections below need work, just moving them out of the way for now -->
    <!-- gallery of images uploaded by users -->
    <div class="user-image-uploads">
      <h3>User pictures</h3>
      <p>placeholder for button to upload user image</p>
      <% if @recipe.images.attached? %>
        <% @recipe.images.each do |image| %>
          <%= cl_image_tag image.key, height: 60, width: 100, crop: :fill %>
        <% end %>
      <% end %>
    </div>
    <hr>
    <!-- REVIEWS -->
    <%= render "reviews", recipe: @recipe %>

    <!-- user actions -->
    <!-- these will be moved and integrated better later, just putting them all here in one place for now! -->
    <hr>
    <ul>
      <li><%= link_to 'Delete Recipe', recipe_path(@recipe.id), method: :delete, data: { confirm: 'Are you sure?' } %></li>
      <li><%= link_to 'Add to cookbook', recipe_bookmarks_path(@recipe), method: :post, class: 'button' %></li>
      <li><%= link_to 'More Recipes', recipes_path, class: "button" %></li>
      <li><%= link_to 'Back', recipes_path, class: "button" %></li>
      <li><%= link_to 'Add to wishlist', wishlist_path(@recipe.id), class: "button" %></li>
    </ul>
  </div>
</div>
