
<div class="filter-links">
  <h4 class="filter-title">Cuisine</h4>
  <div class="gray-button"><%= link_to 'All', recipes_path %></div>
  <div class="gray-button"><%= link_to 'Indian', recipes_path(cuisine_type: "Indian") %></div>
  <div class="gray-button"><%= link_to 'Italian', recipes_path(cuisine_type: "Italian") %></div>
  <div class="gray-button"><%= link_to 'French', recipes_path(cuisine_type: "French") %></div>
  <div class="gray-button"><%= link_to 'British', recipes_path(cuisine_type: "British") %></div>
  <div class="gray-button"><%= link_to 'Chinese', recipes_path(cuisine_type: "Chinese") %></div>
</div>
