<div class="index-container">
  <% @recipes.each do |recipe| %>
    <div class="index-box">
      <%=link_to recipe_path(recipe.id) do %>
        <div class='index-card' id="index-card-recipe">
          <%=cl_image_tag recipe.photo.key, height: [320,400,480].sample %>
          <div class="index-card-text">
              <div class="index-card-heading">
                <h2><%=recipe.name.truncate(32)%></h2>
              </div>
              <div class="index-card-info">
                  <p><i class="fas fa-clock"></i> <%= recipe.cook_time %></p>
                  <p><i class="fas fa-user-friends"></i> <%= recipe.serves %></p>
                  <p><%=recipe.cuisine%></p>
                  <p><%= render "./shared/rating", rating: recipe.average_rating %></p>
              </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
