<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <span class="title-with-icon">
      <i class="fas fa-utensils"></i> <span class="dished-title">Dished!</span>
    </span>
  <% end %>


  <div class="search_nav">
    <%= render "./recipes/search", foods: @foods, search_terms: @search_terms unless current_page?("/") || current_page?("/recipes") %>
  </div>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <% if user_signed_in? %>
          <li class="nav-item" id= "create-button">
          <%= link_to "Create Recipe", new_recipe_path, class: "nav-link" %>
          <li class="nav-item" id= "explore-button">
          <%= link_to "Explore", users_path, class: "nav-link" %>
        </li>

        <% @user = current_user %>

              <!-- adding Notification DropDown -->

        <li class="nav-item dropdown">
          <a class="dropdown-toggle nav-link" type="button" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-bell wiggle"></i>
          </a>

           <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown" id="navbar-dropdown-text">
            <!-- Notifications get inserted here -->
          </div>
          </li>
        <!-- end of  Notification DropDown -->
        <script>
        fetch("/notifications.json")
          .then(response => response.json())
            .then(data => {
              let counter = 0
              data.forEach(notification => {
              const element = `<a class="dropdown-item" data-remote="true" rel="nofollow" data-method="post" href="/notifications/${notification.id}/mark_as_read">${notification.actor} ${notification.action}<i class="fas fa-times-circle"></i></a>`
              document.getElementById("navbar-dropdown-text").insertAdjacentHTML("beforeend", element)
              counter += 1
              })
              const counterHTML =  `<h3>${counter}</h3>`
              document.getElementById("navbarDropdown").insertAdjacentHTML("beforeend", counterHTML)
            })
        </script>

        <li class="nav-item dropdown">
          <% if @user.avatar.attached? %>
            <%=cl_image_tag @user.avatar.key, crop: :fill, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% else %>
            <%= image_tag 'yellow.png', crop: :fill, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>

         <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Profile", user_path(current_user), class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
