<%# Modal Button --- Could be moved to Navbar?%>
<% if user_signed_in? %>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Your Recipe Shortlist</button>

  <%# Modal from Bootstrap %>
  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <%# If there's something in the session wishlist%>
        <% if session[:recipe_id].present? %>

          <%# Scrolling Div%>
          <div class="scrolling-wrapper">

          <%# Iterate through the session array - it's full of recipe ID's %>
            <% session[:recipe_id].each do |recipe_id| %>
            <%# unless what's in there is 'nil'%>
              <% unless recipe_id.nil? || Recipe.find_by_id(recipe_id).nil? %>
                <%# Find the recipe according to their ID %>
                <% found_recipe = Recipe.find(recipe_id)%>
                <%# Display what's in the recipe - this needs to be in a card...%>

                  <%=link_to recipe_path(found_recipe.id) do %>
                    <div class="scrolling-card">



                      <%=cl_image_tag found_recipe.photo.key, height: 700 %>

                      <div class="scrolling-recipe-details">
                        <h2><%=found_recipe.name%></h2>
                        <h4>Details</h4>
                        <p>Serves: <%=found_recipe.serves%></p>
                        <p>Cook time: <%=found_recipe.cook_time%></p>
                        <p>Meal type: <%=found_recipe.meal%></p>
                        <p>Cuisine: <%=found_recipe.cuisine%></p>
                        <h4>Ingredients</h4>
                        <% found_recipe.ingredients.each do |ingredient| %>
                          <p><%= ingredient.quantity %> <%= ingredient.food.name %></p>
                        <% end %>
                      </div>



                    </div>
                <% end %>

              <% end %>
            <% end %>
          </div>

        <%# Else display that there's nothing there. Maybe add a 'Go to Recipes' button here %>
        <% else %>
          <p> You have nothing in your wishlist</p>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
