<%= render "./recipes/search", foods: @foods %>


<br>
<br>
<h3>Popular recipes:</h3>
<br>
<% @recipes = Recipe.all.sample(3) %>
<% @recipes.each do |recipe| %>
  <%=cl_image_tag recipe.photo.key, height: 200, width: 300, crop: :fill  %>
  <br>
  <%=recipe.name%>
  <%=recipe.description%>
  <%=recipe.meal%>
  <%=recipe.cuisine%>
  <%=recipe.serves%>
  <%=recipe.cook_time%>
  <%=recipe.user.id%>
  <%= link_to 'More info', recipe_path(recipe.id), class: "button" %>
  <br>
<% end %>

<%= link_to 'View all Recipes', recipes_path, class: "button" %>
<br>
<%= link_to "Create Recipe", new_recipe_path, class: "button"%>
