<!DOCTYPE html>
<html>
  <head>
    <title>Dished</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&family=Cutive+Mono&family=Open+Sans:wght@300;400;700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,400&family=Poppins:wght@100;300&family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= render 'shared/wishlist_modal' %>
    <div class="container max-width">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
