<!DOCTYPE html>
<html>
  <head>
    <title>Dished! Making dinner time easier</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&family=Cutive+Mono&family=Open+Sans:wght@300;400;700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,400&family=Poppins:wght@100;300&family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet">
    <meta property="og:title" content="Dished!">
    <meta property="og:type" content="website">
    <meta property="og:url" content="www.dished.site">
    <meta property="og:image" content="cover.png">
    <meta property="og:description" content="Dished! Making dinner time easier">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= favicon_link_tag %>
  </head>

  <body>
      <div class="d-flex flex-column min-vh-100">
      <% if current_page?("/") %>
        <div class="fixed-top">
          <%= render 'shared/navbar' %>
        </div>
      <% else %>
        <%= render 'shared/navbar' %>
      <% end %>
      <%= render 'shared/flashes' %>
      <%= render 'shared/wishlist_modal' %>
      <div class="flex-grow-1">
        <%= yield %>
        </div>
      <%= render 'shared/footer' %>
     </div>
  </body>

</html>
